h1 {
    margin:left;
    color: #1293F2;
}
h2 {
    color: #1293F2;
    margin: left;
}

#h3 {
#  color=navy;
#  text-decoration: underline;
# }

# h4 {
#  color=navy;
# }


h5 {
   position: absolute; 
   top: 180px; 
   left: 0; 
   width: 100%;
}

.Big-first-letter {
 font-size: 66px;
 float: left; 
 color: #D4D4C7;
 line-height: 35px;
 padding-top: 3px; 
 padding-right: 3px;
}

.gray-bold {
  color:#7A7F82;
  font-wigh: bold;
}

.container { 
   position: relative;
## position: fixed;
## text-align: center;
   width: 100%; /* for IE 6 */
}

#rc1{
        border-radius: 5px 30px 30x 5px;
        background-color: rgb(0, 0, 0); /* fallback color */
}

h5 span {
   margin-left: 0px;
   margin-top: 100px;
   display: inline-block;
   color: white; 
   font: bold 18px/32px Helvetica, Sans-Serif; 
   letter-spacing: -1px; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 6px; 
}

bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.redwine {
  color: #B00D23;
  font: bold;
}

#redwine.small {
  color: #B00D23;
  font: bold;
  font-size: 8pt;
}